<h3>Schedule Detail</h3>

<div class="panel panel-default">
	<div class="panel-heading">
		<h4 ng-if="scheduleDetailCtrl.schedule.id == -1">New Schedule</h4>
		<h4 ng-if="scheduleDetailCtrl.schedule.id > -1">Edit Schedule</h4>
	</div>
	<div class="panel-body">
		<div class="col-lg-10">
    	<form class="form-horizontal" name="frm">
	        <div class="form-group">
	            <label for="name" class="control-label col-sm-2">Name</label>
	            <div class="col-xs-10">
	            <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="scheduleDetailCtrl.schedule.name" required>
	            <span ng-show="frm.name.$dirty && frm.name.$error.required">(Required)</span>
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="selectschedule" class="control-label col-xs-2">Select Schedule</label>
	            <div class="col-xs-2">
	            <select class="form-control" id="selectschedule" ng-model="scheduleDetailCtrl.schedule.cronExpression">
	            	<option ng-repeat="ctype in scheduleDetailCtrl.cronTypeList" value="{{ctype.value}}">{{ctype.name}}</option>
	            </select>
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="cronExpression" class="control-label col-sm-2">Cron Expression</label>
	            <div class="col-xs-10">
	            <input readonly type="text" class="form-control" id="cronExpression" name="cronExpression" placeholder="Cron Expression" value="{{scheduleDetailCtrl.schedule.cronExpression}}">
	            <span ng-show="frm.cronExpression.$dirty && frm.cronExpression.$error.required">(Required)</span>
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="active" class="control-label col-sm-2">Active</label>
	            <div class="col-xs-2">
					<select class="form-control" id="active" name="active" ng-model="scheduleDetailCtrl.schedule.active" 
					ng-options="o.v as o.n for o in scheduleDetailCtrl.YesNoList">
					</select>
	            </div>
	        </div>
	        <div class="form-group">
	        	<div class="col-xs-offset-2 col-xs-10 pull-right">
	        	<button type="button" class="btn btn-primary" ng-click="scheduleDetailCtrl.saveSchedule()" ng-disabled="frm.$invalid"><span class="glyphicon glyphicon-ok"></span> Save</button>
	        	<button type="button" class="btn btn-default" ng-click="scheduleDetailCtrl.cancelSave()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
	        	</div>
	        </div>    
		</form>
		</div>
	</div>
</div>
