<div ng-controller="HomeController">
<h3>Home</h3>

<div class="panel panel-default">
<div class="panel-heading"><h4>Statistics</h4></div>
<div class="panel-body">
	<div id="myid" class="pull-left" jq-piechart mydata="piedata"></div>	
	<div id="myid2" title="Sample BARs" class="pull-left" jq-barchart data="bardata" series="barseries" categories="barcategories"></div>	
</div>	
</div>

<div class="panel panel-default">
<div class="panel-heading"><h4>Recent Tests</h4></div>
<div class="panel-body">
	
</div>	
</div>

	
</div>