<h3>Hosts</h3>
<br/>

<div class="panel panel-default">
	<div class="panel-heading"><h4>Host List</h4></div>
	<div class="panel-body">
		<form role="search" class="navbar-form navbar-left">
		<div class="input-group">
		<span class="input-group-addon glyphicon glyphicon-search"></span>
		<input class="form-control" type="text" placeholder="Filter ..." ng-model="hostCtrl.searchText">
		</div>
		</form>
		<form class="navbar-form navbar-right">
		<button type="button" class="btn btn-primary" ng-click="hostCtrl.refresh()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button> 
		<button type="button" class="btn btn-primary" ng-click="hostCtrl.addNewHost()"><span class="glyphicon glyphicon-plus"></span> Add Host</button>
		</form>
		<br/>
		
		<table class="table table-condensed">
			<tr><th>Name</th><th>Host</th><th>Port</th><th>Use HTTPS</th><th></th></tr>
			<tr ng-repeat="host in hostCtrl.hosts | filter:hostCtrl.searchText">
				<td>{{host.name}}</td><td>{{host.hostname}}</td><td>{{host.port}}</td><td>{{host.secureHttp}}</td>
				<td>
				<div class="btn-group pull-right">
					<div class="pull-right">
					  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
					    <span class="sr-only">Toggle Dropdown</span>
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a ng-click="hostCtrl.editHost(host.id)"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
					    <li><a ng-click="hostCtrl.deleteHost(host.id)"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
					  </ul>
					</div>
				</div>
				</td>
			</tr>
		</table>	
	</div>
</div>
