<!-- No need to specify ng-controller. We already have it defined in the routes -->
<h3>Run Test Case Instance</h3>
<br/>

<div ng-show="runtests.showlist" class="panel panel-default">
<div class="panel-heading"><h4>Test Case Instances Listing</h4></div>
<div class="panel-body">	

<form role="search" class="navbar-form navbar-left">
<button ng-disabled="(runtests.selectedTests.length == 0) || (runtests.hosts.length == 0)" type="button" class="btn btn-primary" ng-click="runtests.runSelectedTests()"><span class="glyphicon glyphicon-play"></span> Run Test</button>
<div class="input-group">
	<span class="input-group-addon">Hosts:</span>
	<select class="form-control" ng-model="runtests.selectedHostId" ng-change="runtests.handleHostChange()">
			<option  ng-repeat="host in runtests.hosts" value="{{host.id}}" >{{host.name}}</option>
	</select>
	<span disp-hostname host="runtests.selectedHost" class="input-group-addon"></span>
</div>
</form>

<form role="search" class="navbar-form navbar-right">
<div class="input-group">
<span class="input-group-addon glyphicon glyphicon-search"></span>
<input class="form-control" type="text" placeholder="Filter ..." ng-model="runtests.searchText">
</div>
<div class="form-group">
<div class="col-xs-2"> 
	<select class="form-control" id="categories" ng-model="runtests.selectedCategoryId" ng-change="runtests.refresh()">
			<option ng-repeat="cate in runtests.categories" value="{{cate.id}}">{{cate.name}}</option>			
	</select>
</div>
</div>
<button class="btn btn-primary" ng-click="runtests.refresh()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
</form>		

<table class="table table-condensed">
	<tr><th></th><th>Name</th><th>Description</th><th></th></tr>
	<tr ng-repeat="case in runtests.testcaseinstances | filter:runtests.searchText">
		<td><input type="checkbox" check-list selected-items-array="runtests.selectedTests" value="{{case.id}}"/></td>
		<td>{{case.name}}</td>
		<td>{{case.description}}</td>
		<td>			  
			<div class="btn-group">
			  <button type="button" title="Run Test" class="btn btn-default btn-sm" type="button" ng-click="runtests.runThisTest(case.id)"><span class="glyphicon glyphicon-play"></span></button>			  
			  <button type="button" title="More actions..." class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li><a ng-click="runtests.getCurlForTestInstance(case.id)"><span class="glyphicon glyphicon-copyright-mark"></span> Get CURL</a></li>
			    <li><a ng-click="runtests.editTestInstance(case.id)"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
			    <li><a ng-click="runtests.deleteTestInstance(case.id)"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
			  </ul>
			</div>					
		</td>
	</tr>	
</table>
</div>
</div>

<!-- Run form, in case user want to change the data values defined for this test run instance -->
<div ng-show="runtests.showtestinstanceform" class="panel panel-default">
<div class="panel-heading"><h4>Test Instance</h4></div>
<div class="panel-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="testcase" class="control-label col-xs-2" valign="top">Test Case</label>
            <div class="col-xs-10" id="testcase">
            	Name: {{runtests.testForm.name}}<br/>
            	Rest Url: {{runtests.testForm.restUrl}}<br/>
            	Data: {{runtests.testForm.data}}
			</div>            
		</div>    	
        <div class="form-group">
            <label for="name" class="control-label col-xs-2">Name</label>
            <div class="col-xs-10">
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="runtests.testInstanceForm.name">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="control-label col-xs-2">Description</label>
            <div class="col-xs-10">
            <input type="text" class="form-control" id="description" placeholder="Description" ng-model="runtests.testInstanceForm.description">
            </div>
        </div>
        <div class="form-group">
        <label for="description" class="control-label col-xs-2">Parameter Values</label>
        </div>
        <hr/>
        <div class="form-group" ng-repeat="tcv in runtests.testInstanceForm.testCaseValues" ng-if="runtests.testInstanceForm.testCaseValues">        
            <label for="{{tcv.name}}" class="control-label col-xs-2">{{tcv.name}}</label>
            <div class="col-xs-10">
            	<input type="text" class="form-control" id="{{tcv.name}}" ng-model="tcv.value"> <span ng-if="tcv.required">(required)</span>            	
            </div>
        </div>
        <div class="form-group">
        	<div class="col-xs-offset-2 col-xs-10 pull-right">
        	<button class="btn btn-primary" ng-click="runtests.saveTestCaseInstance()"><span class="glyphicon glyphicon-play"></span> Run</button>
        	<button class="btn btn-primary" ng-click="runtests.saveTestCaseInstance()"><span class="glyphicon glyphicon-ok"></span> Save</button>
        	<button class="btn btn-default" ng-click="runtests.cancelEditInstance()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        	</div>
        </div>
	</form>
</div>	
</div>
