<h3>Tests Cases</h3>
<br/>

<div class="panel panel-default">
<div class="panel-heading"><h4>Test Case List</h4></div>
<div class="panel-body">
<form role="search" class="navbar-form navbar-left">
<div class="input-group">
<span class="input-group-addon glyphicon glyphicon-search"></span>
<input class="form-control" type="text" placeholder="Filter ..." ng-model="testcaselist.searchText">
</div>
</form>
<form role="search" class="navbar-form navbar-right">
<div class="form-group">
<div class="col-xs-2"> 
	<select class="form-control" id="categories" ng-model="testcaselist.selectedCategoryId" ng-change="testcaselist.refresh()">
			<option ng-repeat="cate in testcaselist.categories" value="{{cate.id}}">{{cate.name}}</option>			
	</select>
</div>
</div>
<button class="btn btn-primary" ng-click="testcaselist.refresh()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button> 
<button class="btn btn-primary" ng-click="testcaselist.createTestCase()"><span class="glyphicon glyphicon-plus"></span> Create Test</button>
</form>
<br/>
<table class="table table-condensed">
	<tr><th>Name</th><th>Description</th><th></th></tr>
	<tr ng-repeat="case in testcaselist.testcases | filter:testcaselist.searchText">
		<td>{{case.name}} <span class="badge">{{case.instances}}</span></td>
		<td>{{case.description}}</td>
		<td>
			<div class="btn-group pull-right">
			  <button type="button" title="Create Instance" class="btn btn-default btn-sm" ng-click="testcaselist.createTestCaseInstance(case.id)"><span class="glyphicon glyphicon-star"></span> </button>
			  <button type="button" title="More actions..." class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
			    <span class="sr-only">Toggle Dropdown</span>
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li><a ng-click="testcaselist.editTestCase(case.id)"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
			    <li><a ng-click="testcaselist.deleteTestCase(case.id)"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
			  </ul>
			</div>					
		</td>
	</tr>	
</table>
</div>			
</div>

